/* reset */
body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,img,form,input,label,select,legend,fieldset,textarea,table,th,tr,td,thead,tbody,tfoot,blockquote,iframe,hr,button {margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block}
div,header,footer {box-sizing: border-box;-moz-box-sizing: border-box}
html {-webkit-text-size-adjust:none;word-wrap:break-word}
html,body {height:100%;overflow:auto}
body {position:relative}
input,textarea,button,a,select {outline:none}
ul,ol {list-style:none}
button {border:0;cursor:pointer}
button::-moz-focus-inner:active {border:0}
textarea {word-break:break-all;resize:none}
img {border:none;overflow:hidden;color:transparent;background:#eee}
a:hover img {box-shadow:0 0 0 2px #007C72}
a {text-decoration:none;color:#007C72;}

body,textarea,input,select,option,button {font:13px/1 Arial,sans-serif}
strong,h1,h2,h3,h4,h5,h6,b {font-weight:inherit}
h1,h2,h3,h4,h5,h6,small {font-size:inherit}
em,i {font-style:inherit}

/*
*
*	ELEMENTOS
*
*/


/* grid */
.cadastro,.page {margin-top:50px;margin-bottom:50px;
	min-height:-moz-calc(100% - 250px);min-height:-webkit-calc(100% - 250px);min-height:calc(100% - 250px)
}
.interna {background:#f1f1f1 url('../img/bg.png')}
.interna .page {background:#fff;box-shadow:0 0 5px rgba(0,0,0,.2)}

.g960 {margin-left:auto;margin-right:auto}
.g960:after {content:' ';display:block;clear:both}
.g610,.g455,.g300 {float:left;padding:20px}
.g960,.g610,.g455,.g300 {position:relative}

.g960 {width:960px}
.g610 {width:610px}
.g455 {width:455px}
.g300 {width:300px}

.g455+.g455,.g300+.g610,.g610+.g300 {margin-left:50px}
.g300+.g300 {margin-left:20px}
.center {text-align:center}

.sep:before {content:'';width:25px;height:100%;position:absolute;top:-10px;right:100%;box-shadow:-10px 0 10px -10px rgba(0,0,0,.3);padding:10px 0}

 /* titulos */
.h1,.h2,.h3 {margin-bottom:20px;font-family:'Open sans',sans-serif}
.h1 {font-size:48px}
.h2 {font-size:32px}
.h3 {font-size:24px}

/* main-nav */
.main-nav {height:30px;position:absolute;top:0;left:0;width:100%;z-index:1;background:#007C72;border-bottom:1px solid #ffff}
.main-nav ul {font-size:0;text-align:right}
.main-nav li,.main-nav a {display:inline-block}
.main-nav li+li {border-left:1px solid rgba(255,255,255,.1)}
.main-nav li+li a {border-left:1px solid rgba(0,0,0,.1)}
.main-nav a {height:30px;line-height:30px;color:#fff;font-size:14px;padding:0 20px}
.main-nav a:hover {background:rgba(255,255,255,.1)}
.main-nav .fb-like {position:absolute;top:5px;left:50%;margin-left:-480px;}

/* footer */
.footer {color:#fff;padding-top:25px;height:80px;box-shadow:0 10px 10px -10px rgba(0,0,0,0.8) inset;text-align:center;
	background:-webkit-linear-gradient(top,#007C72,#008A7E);
	background:-moz-linear-gradient(top,#007C72,#008A7E);
}
.footer a {color:#fff;}
.footer a:hover {text-decoration:underline}
.footer p{margin-bottom:5px;}

/* botoes */
.bt {display:inline-block;border:1px solid #ddd	;height:40px;line-height:40px;padding:0 20px;border-radius:3px;font-size:16px;color:#007C72;text-align:center;cursor:pointer;font-family:'Open Sans',sans-serif;
	background:-webkit-linear-gradient(top,#fff,#eee);
	background:-moz-linear-gradient(top,#fff,#eee);
}
.bt:hover {border-color:#007C72}
.bt_more {padding:0;width:100%}
.bt-conectar {display:inline-block;height:60px;padding:0 40px;line-height:60px;font-size:18px;font-family:'Open Sans',sans-serif;border-radius:4px;box-shadow:0 1px 0 #468AD5 inset;color:#fff;
	background:-webkit-linear-gradient(top,#2774CE,#124F92);
	background:-moz-linear-gradient(top,#2774CE,#124F92);
	border:1px solid #032B5E;
}
.bt-conectar span {font-size:0;display:inline-block;vertical-align:middle;width:74px;height:15px;background:url('../img/fb.png');position:relative;top:-2px;}

/*
*
*	PAGES
*
*/

/* landing */
.landing {padding:100px 0;
	min-height:-moz-calc(100% - 80px);min-height:-webkit-calc(100% - 80px);min-height:calc(100% - 80px)
}
.landing h1,.landing h2,.landing p {margin-bottom:20px;font-family:'Open sans',sans-serif}
.landing h2 {font-size:48px}
.landing p {font-size:23px;padding-right:50px}


/* header */
.header {margin-top:80px;height:50px}
.header p {position:absolute;top:14px;left:300px;font-size:18px;top:30px;font-family:'Open sans',sans-serif}
.header .bt-conectar {position:absolute;bottom:-10px;right:0;padding:0 20px;height:50px;line-height:50px}
.logo {width:245px;height:46px;background:url('../img/logo.png');color:transparent;font-size:0}
.logo a {display:block;height:100%}

#js-slider{box-shadow:0 1px 5px rgba(0,0,0,.5);padding:0;height:300px;margin-top:30px;}
#js-slider img {position:absolute;left:0;right:0;}

/* cadastro */
.input,.cadastro-form div {display:block;font-size:16px}
.input {margin-top:5px;line-height:18px;height:18px;border:1px solid #ccc;padding:8px;border-radius:3px;box-shadow:0 1px 3px rgba(0,0,0,0.1) inset;vertical-align:top}
.input:focus {border-color:#007C72}
.cadastro-form div {margin-bottom:20px;width:320px}
.input[type='number'] {width:90px}
select.input {-webkit-appearance:initial;height:36px}
label {display:inline-block;margin:5px 20px 0 0;font-size:13px}

.input-inline {display:inline-block}
.input-big {width:280px}
.input-small {width:50px;text-align:right}

.estao-parando {font-size:0;margin-bottom:50px}
.estao-parando img+img {margin-left:13px}

.estatisticas span {display:block;font-size:16px;margin-bottom:5px}
.estatisticas b {font-weight:bold;font-size:20px;display:inline-block;width:70px;text-align:right;margin-right:5px}

/* perfil */
.perfil-topo {position:relative}
.perfil-topo:after {content:' ';display:block;clear:both;}
.perfil-topo img {float:left;margin-right:20px;width:100px}
.perfil-topo h2 {margin-left:120px}
.perfil-topo p {padding-bottom:10px;line-height:1.3;margin-left:120px}
.perfil-topo b {font-weight:bold}

.perfil-consumo {position:relative;margin-top:30px}
.perfil-consumo .h3 {margin-bottom:5px}
.perfil-consumo select.input {width:148px}
.perfil-consumo span {position:absolute;top:45px;left:40px}
.perfil-consumo .bt {margin:5px 0 0 142px;width:75px}
.perfil-consumo .facebook {position:absolute;bottom:25px;left:0;text-align:left}

.perfil-amigos {margin-top:30px;font-size:0}
.perfil-amigos a {display:inline-block;margin:0 15px 15px 0}
.perfil-amigos .bt {width:260px}

/* postar mensagem */
.postar-mensagem {margin-bottom:50px;position:relative}
.postar-mensagem .input {height:50px;width:390px;margin-bottom:10px}
.postar-mensagem .bt {position:absolute;top:0;right:0;width:150px}
.postar-mensagem .facebook {position:absolute;right:0;bottom:0;margin-right:10px}

/* stream */
.stream {visibility:visible;padding-bottom:50px;}
.stream .post:before {content:'';height:100%;width:2px;background:#007C72;position:absolute;left:25px;top:50px}
.stream .post:last-of-type:before {display:none}
.post {position:relative;padding-left:60px;min-height:50px;margin-bottom:20px}
.post img {position:absolute;left:0;right:0}
.post strong {font-weight:bold;color:#007C72}
.post-cnt {border:1px solid #ddd;padding:15px;display:inline-block;border-radius:4px;box-shadow:0 1px 5px rgba(0,0,0,.1);position:relative}
.post-cnt:before,.post-cnt:after {content:'';display:block;position:absolute;border:7px solid;top:50%;left:-13px;width:0;height:0;margin-top:-7px}
.post-cnt:before {border-color:transparent #ddd transparent transparent;margin-left:-1px}
.post-cnt:after {border-color:transparent #fff transparent transparent}
.post.user strong:after {content:':'}

.post-delete {visibility:hidden;width:15px;height:15px;background:#fff;box-shadow:0 0 3px rgba(0,0,0,0.5);border-radius:15px;display:inline-block;position:absolute;top:-3px;right:-3px;color:transparent}
.post-delete:before {content:'';width:9px;height:3px;background:#CCC;position:absolute;top:6px;left:3px}
.post-delete:hover {box-shadow:0 0 2px rgba(0,0,0,1)}
.post-delete:hover:before {background:#999}
.post:hover .post-delete {visibility:visible} 

/* lista-amigos */
.lista-amigos {font-size:0}
.lista-amigos a {position:relative;display:inline-block;margin:0 20px 20px 0}
.lista-amigos span {display:none;position:absolute;top:-45px;left:0;border:1px solid #ddd;padding:10px;border-radius:4px;box-shadow:0 1px 5px rgba(0,0,0,.1);z-index:1;background:#fff;color:#000000;font-size:13px;white-space:pre}
.lista-amigos span:before,.lista-amigos span:after {content:'';display:block;position:absolute;border:7px solid;top:100%;left:10px;width:0;height:0}
.lista-amigos span:before {border-color:#ddd transparent transparent transparent;margin-top:1px}
.lista-amigos span:after {border-color:#fff transparent transparent transparent}
.lista-amigos a:hover span {display:block}

/* page post */
.page-post {margin-top:150px;margin-bottom:50px;float:none;margin-left:auto;margin-right:auto;
	min-height:-moz-calc(100% - 382px);min-height:-webkit-calc(100% - 382px);min-height:calc(100% - 382px)
}
.page-post .post-cnt {padding:20px;font-size:16px}
.page-post .post {padding-left:120px}

/* estatisticas */
.legenda{width:165px;display:inline-block;text-align:center;vertical-align:top;margin-top:30px;}
.legenda+.legenda{margin-left:30px}
.legenda strong{display:block;font-family:'Opens sans',sans-serif;font-size:32px;border-top:3px solid;padding-top:5px;}

.cigarro strong{border-color:#007C72;}
.dinheiro strong{border-color:#54BDB4;}
.media strong{border-color:#033834;}

/* institucional */
.institucional,.institucional p{font:16px/1.5 sans-serif}
.institucional p{width:600px}
.institucional ul{margin-bottom:20px;}
.institucional li{list-style:disc;display:block;}
.gato{display:inline-block;margin:0 48px;width:140px;text-align:center;}
.gato img{display:block;margin-bottom:10px;}















