<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Não Fu.me - Perfil</title>
	<link rel="stylesheet" href="../../static/css/css.css">
</head>
<body>
	<nav class="main-nav">
		<ul class="g960">
			<li><a href="#">Home</a></li>
			<li><a href="#">Perfil</a></li>
			<li><a href="#">Editar</a></li>
			<li><a href="#">Sair</a></li>
		</ul>
	</nav>
	<div class="g960 page">
		<div class="perfil-lateral g300">
			<div class="perfil-topo">
				<img src="" alt="" width="100" height="100">
				<h2 class="h2">Fulano</h2>
				<p>Sua mete é parar de fumar em <b>3 meses</b>.</p>
				<p>Você ja economizou <b>R$ 125,45</b> e ganhou <b>20</b> dias de vida.</p>
			</div>
			<form action="#" class="perfil-consumo">
				<h3 class="h3">Consumo diário</h3>
				<input type="number" value="5" class="input input-inline">
				<select  class="input input-inline"><option value="">Luke Skywalker</option></select>
				<span>cigarros</span>
				<label class="facebook"><input type="checkbox" > postar no facebbok</label>
				<a href="#" class="bt bt-atualizar">Atualizar</a>
			</form>
			<div class="perfil-amigos">
				<h3 class="h3">Amigos parando de fumar</h3>
				<a href="#"><img src="" alt="" width="50" height="50" /></a>
				<a href="#"><img src="" alt="" width="50" height="50" /></a>
				<a href="#"><img src="" alt="" width="50" height="50" /></a>
				<a href="#"><img src="" alt="" width="50" height="50" /></a>
				<a href="#"><img src="" alt="" width="50" height="50" /></a>
				<a href="#"><img src="" alt="" width="50" height="50" /></a>
				<a href="#"><img src="" alt="" width="50" height="50" /></a>
				<a href="#"><img src="" alt="" width="50" height="50" /></a>
				<a href="#"><img src="" alt="" width="50" height="50" /></a>
				<a href="#"><img src="" alt="" width="50" height="50" /></a>
			</div>
		</div>
		<div class="lista-amigos g610 sep">
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
			<a href="#"><img src="" alt="" width="50" height="50" /><span>Amigo fumante</span></a>
		</div>
	</div>
	<footer class="footer">
		<div class="g960">
			<p>Não Fu.me - criado e desenvolvido por Cicero Verneck, Diogo Corrêa, Victor Hugo e Gustavo Pantuza</p>
		</div>
	</footer>
</body>
</html>