{% extends 'base.tpl' %}
{% block body_attr %}data-page="landing"{% endblock %}
{% block title %}Sobre - Não Fu.me - Um jeito simples de traçar sua meta para largar de vez o cigarro.{% endblock %}
{% block body %}
    {% load staticfiles %}
    {% include 'nav_header.tpl' %}
    <div class="g960 landing">
        <header>
            <div class="g555">
                <h1 class="logo"><a href="/">Não Fu.me</a></h1>
                <h2>Menos fumaça, <br> Mais saúde.</h2>
                <p>Um jeito simples de traçar sua meta para largar de vez o cigarro.</p>
            </div>
        </header>
        <h1>Não fume - 404</h1>
        <h2>A página não pode ser encontrada</h2>
    </div>
{% endblock %}